
/* font-family: 'Lobster', cursive;
font-family: 'Permanent Marker', cursive; */
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&display=swap');
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto Slab', serif;
  font-family: 'Train One', cursive;
} 

#home {
  background:  linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(img/Pic1.jpg);
  background-size: center;
  background-position: center;
  height: 100vh;
}

#home row {
  margin-top: 70px;
}
.container{
  max-height: 1300px;
  margin: auto;
  padding: 0,25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.love{
   background-color: white;
   background-image: linear-gradient(to top, red 0%, #63d2db 100%);
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fil-color: transparent;
}
 .col-2{
  flex-basis: 50%;
  min-width: 300px;
} 

/* .col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.overlay {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 50px;
  border-radius: 5px;
  cursor: pointer;
  background: slategray;
  opacity: 0.5;
} */

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 30% 0 0 10%;
   background-color: white;
   background-image: linear-gradient(to top, #fff 0%, #63d2db 100%);
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fil-color: transparent;
}
.col-2 h3{
  text-align: center;
  color: #fff;
}
.deadline {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin-top: 30px;
}
.deadline p{
  font-weight: bolder;
  color: #fff;
}
.col-2 span{
  color: #fff;
}

.time {
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10%;
  padding: 10px;
}

/* greetings section */
#greetings {
  width: 100%;
  padding: 70px 0;
  position: relative;
  /* background-color: rgb(124, 139, 124); */
}
.title-text{
  text-align: center;
  padding-bottom: 70px;
  
}
.title-text h5{
  font-size: 50px;
  margin: auto;
  font-weight: bold;
  z-index: 1;
  display: inline-block;
  color: purple;
}
.title-text p{
  font-size: 15px;
  font-style: italic;
  margin: 20px;
  font-family: 'Dancing Script', cursive;
 
}
.music{
  position: absolute;
  top: 70%;
  left: 40%;
}
.music audio{
  outline: none;
}

/* Couple */
#couple {
  width: 100%;
  padding: 70px 0;
  background-color: #efefef;
}
.couple-bestie h1{
  text-align: center;  
  padding-bottom:  20px;
  font-family: 'Kaushan Script', cursive; 
  background-image: linear-gradient(to top, #974ec3 0%, #63d2db 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fil-color: transparent;
  
} 
.bestie-con{
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  /* width: 100%; */
}
.col-3{ 
  padding: 0px;
  max-width:  500px;
  margin: 0 0 50px 50px;
} 
.col-3 p{
  text-align: center;
  font-family: 'Kaushan Script', cursive; 
  background-image: linear-gradient(to top, #974ec3 0%, #63d2db 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fil-color: transparent;
}
.col-3 img{
  width: 100%;
  border-radius: 7px;
  transition: all .5s;
}
.col-3 img:hover{
  transform: scale(1.1);
}

/* Our story */
#our-story{
  width: 100%;
  padding: 70px 0;
  font-family: 'Kaushan Script', cursive;
  
}
.story-box{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.story{
  flex-basis: 50%;
  font-family: 'Shadows Into Light', cursive;
}
.btns{
  width: 100%;
  margin: auto;
}
.btns i{
  margin: 5px;
  font-size: 20px;


}
.story h1{
  text-align: center;
  margin-bottom: 10px;
  font-weight: 100%;
  color: var(--pri-clr2);
}
.story p{
  padding: 0 20px;
  text-align: justify;
}
.story-img{
  flex-basis: 50%;
  margin: auto;
}
.story-img img{
  width: 70%;
  border-radius: 40px;
}
@media screen and (max-width: 700px){
  .story{
    flex-basis: 100%;
  }
  .story-img{
    flex-basis: 100%;
    margin: 20px;
  }
} 

/* Wedding Arrengment */
#arrangement {
  width: 100%;
  padding: 70px 0;
  background-color: #eeffee;
  font-family: 'Kaushan Script', cursive;
}
.arrangement-row{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.arrangement-col{
  flex-basis: 40%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
}
.arrangement-row h4{
  margin-left: 30%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--pri-clr1);
}



@media screen and (max-width: 700px){
  .arrangement-col{
    flex-basis: 100%;
  }
  .arrangement-row h4{
    margin: auto;
  }
} 

#friends{
  width: 100%;
  padding: 70px 0;
  background-color: #efefef;
  position: relative;
}
.couple-bestie h1{
  text-align: center;  
  padding-bottom:  20px;
  font-family: 'Kaushan Script', cursive; 
  background-image: linear-gradient(to top, #974ec3 0%, #63d2db 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fil-color: transparent;
} 
.lit-girl{
  width: 10%;
  border-radius: 50%;
  position: absolute;
  top: 400px;
  right: 200px;
}
.lit-bride{
  position: absolute;
  top: 570px;
  right: 200px;
}
.lit-boy{
  width: 10%;
  border-radius: 50%;
  position: absolute;
  top: 400px;
  left: 250px;
}
.lit-page{
  position: absolute;
  top: 570px;
  left: 250px;
}
.bestie-con{
  display: flex;
  justify-content: center;
  align-self: center;
}
.col-3{ 
  padding: 0px;
  max-width:  300px;
  margin: 0 0 50px 50px;
} 
.col-3 p{
  text-align: center;
  font-family: 'Kaushan Script', cursive; 
  background-image: linear-gradient(to top, #974ec3 0%, #63d2db 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fil-color: transparent;
}
.col-3 img{
  width: 100%;
  border-radius: 50%;
  transition: all .5s;
}
.col-3 img:hover{
  transform: scale(1.1);
}
.gb{
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Kaushan Script', cursive; 
  background-image: linear-gradient(to top, #974ec3 0%, #63d2db 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fil-color: transparent;
}
.besties-gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 700px){
  .bestie-con{
    display: block;
 
  }
  .besties-gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
   
  }
  .lit-boy{
    width: 50%;
    display: block;
    position: relative;
    top: 10%;
    left: 10%;
    /* margin: 50px 0 50px 0; */
  }
  .lit-girl{
    display: block;
    position: relative;
    width: 50%;
    top: 10%;
    left: 10%;
  }
  .lit-page{
    position: relative;
    top: 5px;
    left: 20%;
    margin: 20px 0 20px 0;
  }
  .lit-bride{
    position: relative;
    top: 10px;
    left: 20%;
    margin: 20px 0 30px 0;

  }
}

/* Photo */
#photo{
  width: 100%;
  padding: 70px 0;
  background-color: #eeffee;
  font-family: 'Kaushan Script', cursive;
}

.photo-gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
 }
 .col-4{ 
  padding: 0px;
  max-width:  300px;
  margin: 0 0 50px 50px;
} 
.col-4 img{
  width: 100%;
  border-radius: 7px;
  transition: all .5s;
}
.col-4 img:hover{
  transform: scale(1.4);
}
@media screen and (max-width: 700px){
  .photo-gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* margin-left: 10%; */
  }
}

footer{
  background-color: #333;
  height: 20px;
  color: #fff;
  text-align: center;
  padding: 20px;
}